<%- include('partials/header.ejs'); -%>

<div class="box">
    <div class="item innerbox">
        <dv class="bookitem" id="open<%=item.id%>" >
            <div class="bookname">
                <h2 id="title<%=item.id%>">
                    <%= item.bookName %>
                </h2>
            </div>
            <div class="bookinfo">
                <div class="cover">
                    <img class="bookcover" src="<%= item.cover%>" width="150">
                </div>

                <div class="maininfo">
                    <h2 id="author<%=item.id%>">
                       by <%= item.author %>
                    </h2>
                    <h3>Read on <%= item.dateRead %></h3>
                    <!-- <h3>My Summary:</h3> -->
                    <p class="quotes">My Summary: "<%= item.summary%>"</p>
                    <h3>My rate <%= item.rating %>/10</h3>
                </div>
    
            </div>
            <div class="booknotes">
                <!-- form to create new note -->
                <div class="noteform">  
                    <form class="edit" action="/book/<%=item.id%>/add" method="post">
                        <!-- <input type="hidden" name="updatedItemId" value="new"/> -->
                        <input id="inputNew" type="text" name="newNote" placeholder=" + Add new note" autocomplete="off"
                        autofocus="true"/>
                      
                        <button id="done" class="edit" type="submit" >
                            <img class="icon" src="/assets/icons/check-solid.svg" alt="tick image">
                        </button>
                    </form>
                  
                </div>

                <% for(let note of item.notes) {%>
                    <!-- <p>"<%= note.note %>"</p> -->
                  <div class="noteform">  
                    <form class="edit" action="/book/<%=note.bookId%>/edit" method="post">
                        <input type="hidden" name="updatedItemId" value="<%= note.id %>"/>
                        <!-- <input id="input<%=note.id%>" type="text" name="updatedItemTitle" value="<%= note.note %>" autocomplete="off"
                        autofocus="true"/> -->
                        <textarea id="input<%=note.id%>" type="text" name="updatedItemTitle" value="<%= note.note %>" autocomplete="off"
                          autofocus="true"><%= note.note %></textarea>
                        <button id="done<%=note.id%>" class="edit" type="submit" hidden="true">
                            <img class="icon" src="/assets/icons/check-solid.svg" alt="tick image">
                        </button>
                       
                    </form>
                    <button id="edit<%=note.id%>" class="edit" onclick="handler('<%=note.id%>')">
                        <img class="icon" src="/assets/icons/pencil-solid.svg" fill="#c3a281" alt="pencil image">
                    </button>
                    
                    <form class="edit" action="/book/<%=item.id%>/delete" method="post">
                        <!-- <input type="checkbox" onchange="this.form.submit()" name="deleteItemId" value="<%= item.id %>"> -->
                        <button id="delete<%=note.id%>" class="delete" action="/book/delete" method="post" onclick="this.form.submit()" name="deleteItemId" value="<%= item.id %>">
                         <img class="icon" src="/assets/icons/trash-delete-bin.svg"  alt="trash delete bin image" onclick="this.form.submit()" name="deleteItemId" value="<%= item.id %>">
                        </button>
                    </form>
                  </div> 
                <% } %>

            </div>
        </div>
        

        <!-- <form class="edit" action="/edit" method="post">
            <input type="hidden" name="updatedItemId" value="<%= item.id %>"/>
            <input id="input<%=item.id%>" type="text" name="updatedItemTitle" value="<%= item.title%>" autocomplete="off"
              autofocus="true" hidden="true"/>
            <button id="done<%=item.id%>" class="edit" type="submit" hidden>
                <img class="icon" src="/assets/icons/check-solid.svg" alt="tick image">
            </button>
        </form>
        <button id="edit<%=item.id%>" class="edit" onclick="handler('<%=item.id%>')">
            <img class="icon" src="/assets/icons/pencil-solid.svg" alt="pencil image">
        </button> -->
    </div>
</div>


<script>
    function handler(id) {
        // document.getElementById("title" + id).setAttribute("hidden", true)
        console.log("Id to handler: " + id);
        document.getElementById("edit" + id).setAttribute("hidden", true)
        document.getElementById("done" + id).removeAttribute("hidden")
        document.getElementById("input" + id).removeAttribute("hidden")
    }

</script>


<%- include('partials/footer.ejs'); -%>
